<p id="notice"><%= notice %></p>
<div class="jumbotron text-center">
  <h1 style="color: white;     font-family: 'Arima Madurai', cursive
  ; "> Welcome Welcome to my Humble Site</h1>
</div>
   <div class="row">
   <div class="col-lg-offset-4 col-lg-4 text-center">
    <h4 class="label-info"> George Kosmopoulos here writes about coding and society, the only two things he knows he is uncertain about </h4>
</div>
</div>
<% if current_user %>
<%= link_to 'New Article', new_article_path %>
<%= link_to destroy_user_session_path,  :method => :delete  do %>
<h1 class="fa fa-user"></h1>
<% end %>
<% end %>
<div class="row">

  <% @articles.each do |article| %>
  <div class="col-sm-3">

   <%= link_to article_path(article) do %>
   <div class="well">
    <h2>
      <%= article.title %>
    </h2>
    <h6 class="text-muted"><%= article.created_at.strftime("written the %D")   %></h6>
  </div>

  <% end %>

</div>


<% end %>

</div>
